<div class="container">
  <div class="login-form">
    <%= form_tag(login_path, :class => "loginClass") do %>
    <p class = "space">
        <%= label_tag :email %>
        <%= text_field_tag :email, nil, class: 'form-control' %>
    </p>
    <p class = "space">
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, class: 'form-control' %>
    </p>
    <p class = "space">
        <%= submit_tag "Login", :class => "btn btn-info" %>
    </p>
    <% end %>
  </div>
</div>
